{% extends "base.html" %} {% block app_content %}

<div class="pricing-table">
    <div class="container">
        <div class="block-heading">
            <h2>Package Deals</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    <div class="heading">
                        <h3>STANDARD</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="features">
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Wedding Hall</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Catering</span></h4>
                        <h4 class="text-muted"><span class="glyphicon glyphicon-remove-circle"></span> <span class="feature">Flower Decorations</span></h4>
                        <h4 class="text-muted"><span class="glyphicon glyphicon-remove-circle"></span> <span class="feature">Visual & Audio System</span></h4>
                        <h4 class="text-muted"><span class="glyphicon glyphicon-remove-circle"></span> <span class="feature">Photography</span></h4>
                        <h4 class="text-muted"><span class="glyphicon glyphicon-remove-circle"></span> <span class="feature">Car Hire</span></h4>
                    </div>
                    <div class="price">
                        <h4>£200</h4>
                    </div>
                    <!-- <button class="btn btn-block btn-outline-primary" type="submit">BUY NOW</button> -->
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    <div class="ribbon">Best Value</div>
                    <div class="heading">
                        <h3>ESSENTIALS</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="features">
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Wedding Hall</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Catering</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Flower Decorations</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Visual & Audio System</span></h4>
                        <h4 class="text-muted"><span class="glyphicon glyphicon-remove-circle"></span> <span class="feature">Photography</span></h4>
                        <h4 class="text-muted"><span class="glyphicon glyphicon-remove-circle"></span> <span class="feature">Car Hire</span></h4>
                    </div>
                    <div class="price">
                        <h4>£500</h4>
                    </div>
                    <!-- <button class="btn btn-block btn-primary" type="submit">BUY NOW</button> -->
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="item">
                    <div class="heading">
                        <h3>PREMIUM</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div class="features">
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Wedding Hall</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Catering</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Flower Decorations</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Visual & Audio System</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Photography</span></h4>
                        <h4><span class="glyphicon glyphicon-ok-circle" style="color: #99C07A;"></span> <span class="feature">Car Hire</span></h4>
                    </div>
                    <div class="price">
                        <h4>£1000</h4>
                    </div>
                    <!-- <button class="btn btn-block btn-outline-primary" type="submit">BUY NOW</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}