{% extends "base.html" %} {% block app_content %}

<div class="container">

    <h1 class="my-4">Services</h1>
    <br>

    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://imgur.com/bt33fx2.png" alt="">
        </div>
        <div class="col-md-5">
            <h3>Catering</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://imgur.com/quZhIwy.png" alt="">
        </div>
        <div class="col-md-5">
            <h3>Photography</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://imgur.com/sXegUaB.png" alt="">
        </div>
        <div class="col-md-5">
            <h3>Car Hire</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://imgur.com/6ukrCVw.png" alt="">
        </div>
        <div class="col-md-5">
            <h3>Visual & Audio Systems</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-7">
            <img class="img-fluid rounded mb-3 mb-md-0" src="https://imgur.com/MAZw7S1.png" alt="">
        </div>
        <div class="col-md-5">
            <h3>Flower Decorations</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        </div>
    </div>
    <hr><br>

</div>

{% endblock %}